{% extends 'school/base.html' %}
{% load mytemplatetags %}

{% block title %}{{object_name}} Copy Class Enrollment {{cc_name}}{% endblock %}
{% block content %}
<div class="alert alert-info">
Use this page to copy the student enrollments from one class to another.
<br>This is useful for a class that is scheduled to span multiple semesters.
<p>
To use this, you must first create a schedule in the "Schedule: Master Schedule" on the admin page.

</div>
<h1>Copy Class Enrollment</h1>
Select the Semester that contains the class that you are copying from and copying to. 
<br> Both can be set to the same semester if necessary.
<p>
<form action="" method="post">{% csrf_token %}
  {{form}}
<p>
<input type="submit" value="Next" />
</form>
{% endblock %}
</form>
