{% extends 'school/base.html' %}
{% load mytemplatetags %}

{% block title %}Add / Edit Course{% endblock %}
{% block head %}
{% block javascript %}

    <script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    menubar: false,
    resize: "both",
    image_advtab: true,
    filemanager_title:"Filemanager" ,
    external_filemanager_path:"/static/js/filemanager/",
    plugins: [
         "responsivefilemanager advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   toolbar: "insertfile undo redo | styleselect | bold  underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link responsivefilemanager | print preview fullpage | forecolor backcolor emoticons",
   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 });
</script>
{% endblock %}
{% endblock %}

{% block content %}


<h3>Course Form</h3>
{{ user.teacher }}
<form action='' method='post'>{% csrf_token %}
<input type='hidden' name='name' value=''>
 <div class="container" id="container1">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">New / Edit Course</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group {% if form.course_name.errors %}has-error {% endif %}"><b>Course Name*</b>
                                <input type="text" name="{{ form.course_name.html_name}}" id="{{ form.course_name.id_for_label}}" class="form-control input-sm" value="{{ form.course_name.value|default_if_none:"" }}" placeholder="">
                            </div>

                            <div class="form-group {% if form.course_desc.errors %}has-error {% endif %}">
			Course Description	{{ form.course_desc }}
                            </div>

                            <div class="form-group {% if form.teacher.errors %}has-error {% endif %}"> Course Owner
                              {{ form.teacher }}
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.course_min_size.errors %}has-error {% endif %}"><b>Min Course Size*</b>
                                        <input type="number" name="{{ form.course_min_size.html_name }}" id="{{ form.course_min_size.id_for_label }}" class="form-control input-sm" value="{{ form.course_min_size.value }}"> 
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.course_max_size.errors %}has-error {% endif %}"><b>Max Course Size*</b>
                                        <input type="number" name="{{ form.course_max_size.html_name }}" id="{{ form.course_max_size.id_for_label }}" class="form-control input-sm" value="{{ form.course_max_size.value }}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group {% if form.needs_course_room.errors %}has-error {% endif %}">
			        Required Room Resources
                                {{ form.needs_course_room }}
                            </div>

                            <div class="form-group {% if form.needs_student.errors %}has-error {% endif %}">
			        Student Requirements
                                {{ form.needs_student }}
                            </div>

                            <div class="form-group {% if form.preferred_assistants.errors %}has-error {% endif %}"> <b>Preferred Assistants*</b>
                                <input type="number" name="{{ form.preferred_assistants.html_name }}" id="{{ form.preferred_assistants.id_for_label }}" class="form-control input-sm" value="{{ form.preferred_assistants.value }}">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.setup_time.errors %}has-error {% endif %}"><b>Minutes Necessary for Setup*</b>
                                        <input type="number" name="{{ form.setup_time.html_name }}" id="{{ form.setup_time.id_for_label }}" class="form-control input-sm" value="{{ form.setup_time.value }}"> 
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.cleanup_time.errors %}has-error {% endif %}"><b>Minutes Necessary for Teardown*</b>
                                        <input type="number" name="{{ form.cleanup_time.html_name }}" id="{{ form.cleanup_time.id_for_label }}" class="form-control input-sm" value="{{ form.cleanup_time.value}}"> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group {% if form.course_type.errors %}has-error {% endif %}"> <b>Course Type*</b>
                              {{ form.course_type }}
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.fee_course.errors %}has-error {% endif %}">Course Fee
                                         <input type="number" name="{{ form.fee_course.html_name }}" id="{{ form.fee_courseid_for_label }}" class="form-control input-sm" value="{{ form.fee_course.value }}" placeholder="$0.00"> 
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group {% if form.fee_material.errors %}has-error {% endif %}">Material Fee
                                         <input type="number" name="{{ form.fee_material.html_name }}" id="{{ form.fee_material.id_for_label }}" class="form-control input-sm" value="{{ form.fee_material.value }}" placeholder="$0.00">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group {% if form.semester_grade.errors %}has-error {% endif %}"> <b>Grade(s)*</b>
                              {{ form.semester_grade }}
                            </div>


                            <input type="submit" value="Submit" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>





{% endblock %}
