{% extends 'school/base.html' %}
{% load mytemplatetags %}

{% block title %}{{object_name}} Family Schedule {{cc_name}}{% endblock %}

{% block head %}
<script type='text/javascript' src='/static/catalog.js'></script>
{% endblock %}
{% block content %}
<div class="alert alert-info">
  <a href="{% url 'family_schedule_printable'%}"> Click here for your family's printable schedule</a>
  <p>(You can cut it out and place it behind your child's name tag.)
</div>

  <table class="table table-hover">
  <tr><th colspan=4><div class="label label-info">Students</div></th></tr>
  {% for object in se %}
    {% ifchanged object.student %}
      <tr><th colspan=4>{{ object.student }} </th></tr>
    {% endifchanged %}
    <tr>
      <td></td>
      <td>{{ object.schedule.semester_period.name }}</td>
      <td>{{ object.schedule.course_location }}</td>
      <td>{{ object.schedule.course_catalog }}</td>
    </tr>
  {% endfor %}
  <tr><th colspan=4><div class="label label-info">Assistants</div></th></tr>
  {% for object in sa %}
    {% ifchanged object.assistant %}
      <tr><th colspan=4>{{ object.assistant }} </th></tr>
    {% endifchanged %}
    <tr>
      <td></td>
      <td>{{ object.schedule.semester_period.name }}</td>
      <td>{{ object.schedule.course_location }}</td>
      <td>{{ object.schedule.course_catalog }}</td>
    </tr>
  {% endfor %}
  <tr><th colspan=4><div class="label label-info">Teachers</div></th></tr>
  {% for object in te %}
    {% ifchanged object.course_catalog %}
      <tr><th colspan=4>{{ object.course_catalog }} </th></tr>
    {% endifchanged %}
    <tr>
      <td></td>
      <td>{{ object.semester_period.name }}</td>
      <td>{{ object.course_location }}</td>
      <td>{{ object.course_catalog.course_catalog }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
