{# Include the hidden fields in the form #}
{% if form.non_field_errors %}
<div class="control-group error">
  {% for err in form.non_field_errors %}
  <div class="control-group error">{{ err }}</div>
  {% endfor %}
</div>
{% endif %}
{% for hidden in form.hidden_fields %}
   {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
  <div {% if field.errors %}class="control-group error"{% endif %}>
    {{ field.label_tag }}
    {{ field }}
    {% for err in field.errors %}
    <span class="help-inline">{{ err }}</span>
    {% endfor %}
  </div>
{% endfor %}
