{% extends 'school/base.html' %}
{% load mytemplatetags %}

{% block title %}{{object_name}} Email Class {{cc_name}}{% endblock %}

{% block head %}
<script type='text/javascript' src='/static/catalog.js'></script>
{% endblock %}
{% block content %}
<div class="alert alert-info">
Use this page to email the admin (currently Kimberly Ryan)
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>
{% endblock %}
